<div class="sides">
    <div class=" container-fluid ">
        <div class="left-side">
            <div class="side-content">
                <a href="https://www.facebook.com/ItemBridge"> facebook </a>
                <a href="https://twitter.com/Itembridge"> twitter </a>
                <a href="https://instagram.com/itembridge/"> instagram </a>
                <a href="https://www.behance.net/itembridge"> behance </a>
            </div>
        </div>

        <div class="right-side">
            <div class="side-content">
                <p class="copyright">
                    © 2021 alessandro oncini </p>
            </div>
        </div>
    </div>
</div> <!-- sides -->