<!DOCTYPE html>
<html lang="it-IT">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Unique portfolio solution for creatives">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>alessandro oncini - un sitarello statico</title>

    <link href="https://fonts.googleapis.com/css?family=Hind:300,400%7CMontserrat:400,700" rel="stylesheet" media="all">
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/icons.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/font-awesome.min.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/main.css' type='text/css' media='all'/>
    <link rel='stylesheet' href='{{.Site.BaseURL}}css/setting.css' type='text/css' media='all'/>

</head>

<body class="single single-atail_projects" data-token="#"
      data-share="[&quot;facebook&quot;,&quot;twitter&quot;]">

<!--Preloader-->
<div class="atail-preloader-wrapper">
    <span>
        <span class="atail-dot"></span>
        <span class="atail-dot"></span>
        <span class="atail-dot"></span>
    </span>
    <div class="atail-preloader">
        <span>
            <span class="atail-dot"></span>
            <span class="atail-dot"></span>
            <span class="atail-dot"></span>
        </span>
    </div>
</div>
<!--/Preloader-->

<div class="atail  container-fluid  ">
    <header class="atail-header">
        <div class=" container-fluid ">
            <div class="logo  atail-logo-portrait">
                <a href="index.html">
                    <span class="atail-text-logo">
                        <img src="img/logo.png" alt="AO">
                    </span>
                </a>
            </div>
            <div class="show-nav">
                <span data-action="show-nav">
                    <span>
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </div>
            <nav class="row">
                <div class="grid-bg row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                    <div class="col-md-2"></div>
                </div>
                <ol id="menu-menu-1" class="nav-list">
                    <li class="menu-item  current-menu-item col-xs-2 ">
                        <a href="index.html"><span>progetti</span></a>
                    </li>
                    <li class="menu-item col-xs-2 ">
                        <a href="about.html"><span>chi sono</span></a>
                    </li>
                    <li class="menu-item  col-xs-2 ">
                        <a href="team.html"><span>team</span></a>
                    </li>
                    <li class="menu-item col-xs-2 ">
                        <a href="services.html"><span>servizi</span></a>
                    </li>
                    <li class="menu-item col-xs-2 ">
                        <a href="contact.html"><span>contatti</span></a>
                    </li>
                    <li class="menu-item col-xs-2 ">
                        <a href="blog.html"><span>blog</span></a>
                    </li>
                    <li class="menu-item col-xs-2 ">
                        <a href="typography.html"><span>tipografia</span></a>
                    </li>
                </ol>
            </nav>
        </div>
    </header>
