<div class="main-scroll">

    <div class="project-preview-images  ">
        <div class="preview-images-item">
            <img src="https://res.cloudinary.com/opetre/image/upload/v1619531465/sitostatico/marta_occhiali.jpg" alt="" class="project-1">
            <img src="https://res.cloudinary.com/opetre/image/upload/v1619531466/sitostatico/marta_giacca.jpg" alt="" class="project-2">
            <img src="https://res.cloudinary.com/opetre/image/upload/v1619531466/sitostatico/lavandino.jpg" alt="" class="project-3">
            <img src="" alt="" class="project-4">
            <img src="" alt="" class="project-5">
        </div>
    </div>

    <div class="row ">

        <div class="col-md-10 no-padding">

            <div class="project-preview-arrow-wrapper">
                <span class="project-preview-arrow">
                    <span>
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"  x="0px" y="0px"
                             width="57.143px" height="34.454px" viewBox="0 0 57.143 34.454" enable-background="new 0 0 57.143 34.454" xml:space="preserve">
                            <g>
                                <g>
                                    <polygon points="51.908,17.599 46.891,13.1 46.891,17.094 6.904,17.094 6.904,18.094 46.891,18.094 46.891,22.099"/>
                                </g>
                            </g>
                        </svg>
                    </span>
                    <span>Scendi</span>
                </span>
            </div>

            <div class="project-preview" tabindex="0">

                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10"
                             id="project-1">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">1</span></span>
                                /
                                <span>5</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h2>
                                                <a data-action="open-full-post" data-post="project-1"
                                                   href="#">ritratti</a>
                                            </h2>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    questa foto bla bla bla </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" data-action="open-full-post"
                                           data-post="project-1"
                                           href="#"><span>mostra di più</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10"
                             id="project-2">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">2</span></span>
                                /
                                <span>5</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h2>
                                                <a data-action="open-full-post" data-post="project-2"
                                                   href="#">Progetto 2</a>
                                            </h2>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    Anche questa serie di scatti blablabla </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" data-action="open-full-post"
                                           data-post="project-2"
                                           href="#"><span>mostra di più</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10"
                             id="project-3">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">3</span></span>
                                /
                                <span>5</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h2>
                                                <a data-action="open-full-post" data-post="project-3"
                                                   href="#">vita</a>
                                            </h2>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    ricerca con perizia di particolari </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" data-action="open-full-post"
                                           data-post="project-3"
                                           href="#"><span>mostra di più</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10"
                             id="project-4">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">4</span></span>
                                /
                                <span>5</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h2>
                                                <a data-action="open-full-post" data-post="project-4"
                                                   href="#">ah, lo sai tu?</a>
                                            </h2>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                    ah boh </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" data-action="open-full-post"
                                           data-post="project-4"
                                           href="#"><span>mostra di più</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="display-table">
                    <div class="display-table-cell">

                        <div class="row-col-10"
                             id="project-5">
                            <div class="col-xs-5 col-sm-5 col-md-2 project-count">
                                <span><span class="project-count-number">5</span></span>
                                /
                                <span>5</span>
                            </div>
                            <div class="col-xs-7 col-sm-6 col-md-4 no-padding">
                                <div class="content">
                                    <article>

                                        <div class="preview-article-header">
                                            <h2>
                                                <a data-action="open-full-post" data-post="project-5"
                                                   href="#">ancora altri scatti</a>
                                            </h2>
                                        </div>
                                        <div class="preview-article-text">
                                            <div class="preview-text-content">
                                                <p>
                                                   cazzo so.... </p>
                                            </div>
                                        </div>

                                        <a class="tmp-class open-full-post" data-action="open-full-post"
                                           data-post="project-5"
                                           href="#"><span>mostra di più</span></a>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-md-2 all-projects-ajax-btn">
            <a href="#" data-action="all-projects" data-count="10"><span><span></span><span></span></span>All Projects</a>
        </div>
    </div>


</div> <!-- main-scroll -->

<div class="grid-bg row">
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
    <div class="col-md-2"></div>
</div>