*,
*::before,
*::after {
  scroll-behavior: smooth;
}

html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* scrollbar styles */

@media(min-width: 576px) {
    body::-webkit-scrollbar-track
    {
        box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
        background-color: #F5F7FA;
    }

    body::-webkit-scrollbar
    {
        width: 6px;
        background-color: #F5F7FA;
    }

    body::-webkit-scrollbar-thumb
    {
        background-color: #323A45;
    }
}

@tailwind base;

@tailwind components;

@tailwind utilities;

.hamburger {
  cursor: pointer;
  width: 48px;
  height: 48px;
  transition: all 0.25s;
}

.hamburger__top-bun,
.hamburger__bottom-bun {
  content: '';
  position: absolute;
  width: 24px;
  height: 2px;
  background: #000;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger:hover [class*="-bun"] {
  background: #333;
}

.hamburger__top-bun {
  transform: translateY(-5px);
}

.hamburger__bottom-bun {
  transform: translateY(3px);
}

.open {
  transform: rotate(90deg);
  transform: translateY(-1px);
}

.open .hamburger__top-bun {
  transform:
    rotate(45deg)
    translateY(0px);
}

.open .hamburger__bottom-bun {
  transform:
    rotate(-45deg)
    translateY(0px);
}

*:hover {
    transition: all 400ms ease;
}